<style type="text/css">
  
div.row
{
    clear: both;

    padding-top: 5px;

    }


  div.row span.label
 {

    float: left;

    width:80px;

    text-align: left;

    }

    div.row span.labels

    {

        text-align:left;

    }


  div.row span.formw
 {

    float: left;

    text-align: left;

    }
 
    div.row span.formws
          {
    
          float:left;

    text-align: left;

    }
 
    div.row span.rb 
          {

    float: left;

    text-align: left;

    margin-right:5px;

    }

          #menu

          {

          width: 196px;

          }

          #opening

          {

          width: 721px;

          }
</style>
<% provide(:title, "Sign in") %>
<h3 style="margin-left:30px;">Enter your login and password</h3>
<%= form_for(:session, url: sessions_path) do |f| %>
<table style="margin-left:30px;font-size:medium" >
      <tr>
          <td >
              Email:
          </td>
          <td> 
              <%= f.text_field :email  %>
          </td>
      </tr>
      <tr>
          <td >
              Password:
          </td>
          <td>
              <%= f.password_field :password  %>
          </td>
      </tr>
      <tr>
          <td >
            <label for="type"></label>
            <label class="radio inline">
              <%= radio_button_tag :type, 'Candidate' %>Candidate &nbsp;
            </label>
          </td>
          <td >
            <label class="radio inline">
            <%= radio_button_tag :type, 'Consultant' %>Consultant 
          </label>
          <label class="radio inline">
            <%= radio_button_tag :type, 'Manager' %>Manager
          </label>
          </td>
      </tr>
      <tr>
        <td>
          <br/>
        </td>
      </tr>
      <tr>
          <td>
            <br/>
          </td>
          <td style="text-align:left;">
            <%= f.submit "Login", class: "btn btn-large btn-primary", :style => "font-size:12px;" %>
          </td>
      </tr>
</table>
<p style="font-size:13px; margin-left:30px;">Not member yet? Click <%= link_to "here!", signup_path %> to register.</p>
<div id="imac">
      <div id="slider" class="nivoSlider"> <img src="images/slide-01.jpg" alt="" /> <img src="images/slide-02.jpg" alt="" /> <img src="images/slide-03.jpg" alt="" />
      </div>
</div>

<% end %>
