<style type="text/css">
body{
background-color:#C3CEEE;
}
</style>
<% provide(:title, 'Sign up') %>
<h1 align="center">Sign up</h1>
<div align="right"> 
<%= form_for(@user,:html => {:id => "signup"}) do |f| %>
  <table align="center">
    <tr>
      <td style="font-size:15px">
        First Name
          </td>
          <td>
            <%= f.text_field :first_name,:style => "font-size:medium" %>
          </td>
          <td width="46%"></td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Last Name
          </td>
          <td>
            <%= f.text_field :last_name,:style => "font-size:medium" %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Email
          </td>
          <td>
            <%= f.text_field :email,:style => "font-size:medium", :id => "tf_email" %>
          </td>
          <td width="">
            <label for="validation_pw" id="errormessage1" visible="false" style="color:red; font-size:x-small;">
          </td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Password
          </td>
          <td>
            <%= f.password_field :password,:style => "font-size:medium", :id => "tf_password" %>
          </td>
          <td width="">
            <label for="validation_pw" id="errormessage2" visible="false" style="color:red; font-size:x-small;">
          </td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Confirmation
          </td>
          <td>
            <%= f.password_field :password_confirmation,:style => "font-size:medium" , :id => "tf_confirm_password"%>
          </td>
          <td width="">
            <label for="validation_pw" id="errormessage3" visible="false" style="color:red; font-size:x-small;">
          </td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Address
          </td>
          <td>
            <%= f.text_field :address,:style => "font-size:medium" %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Phone
          </td>
          <td>
            <%= f.text_field :phone,:style => "font-size:medium" %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td style="font-size:15px">
            Country
          </td>
          <td>
            <%= f.select :country, options_for_select([
              "Select Country",
              "United States",
              "United Kingdom",
              "Afghanistan",
              "Albania",
              "Algeria",
              "American Samoa",
              "Andorra",
              "Angola",
              "Anguilla",
              "Antarctica",
              "Antigua and Barbuda",
              "Argentina",
              "Armenia",
              "Aruba",
              "Australia",
              "Austria",
              "Azerbaijan",
              "Bahamas",
              "Bahrain",
              "Bangladesh",
              "Barbados",
              "Belarus",
              "Belgium",
              "Belize",
              "Benin",
              "Bermuda",
              "Bhutan",
              "Bolivia",
              "Bosnia and Herzegovina",
              "Botswana",
              "Bouvet Island",
              "Brazil",
              "British Indian Ocean Territory",
              "Brunei Darussalam",
              "Bulgaria",
              "Burkina Faso",
              "Burundi",
              "Cambodia",
              "Cameroon",
              "Canada",
              "Cape Verde",
              "Cayman Islands",
              "Central African Republic",
              "Chad",
              "Chile",
              "China",
              "Christmas Island",
              "Cocos (Keeling) Islands",
              "Colombia",
              "Comoros",
              "Congo",
              "Congo, The Democratic Republic of The",
              "Cook Islands",
              "Costa Rica",
              "Cote D'ivoire",
              "Croatia",
              "Cuba",
              "Cyprus",
              "Czech Republic",
              "Denmark",
              "Djibouti",
              "Dominica",
              "Dominican Republic",
              "Ecuador",
              "Egypt",
              "El Salvador",
              "Equatorial Guinea",
              "Eritrea",
              "Estonia",
              "Ethiopia",
              "Falkland Islands (Malvinas)",
              "Faroe Islands",
              "Fiji",
              "Finland",
              "France",
              "French Guiana",
              "French Polynesia",
              "French Southern Territories",
              "Gabon",
              "Gambia",
              "Georgia",
              "Germany",
              "Ghana",
              "Gibraltar",
              "Greece",
              "Greenland",
              "Grenada",
              "Guadeloupe",
              "Guam",
              "Guatemala",
              "Guinea",
              "Guinea-bissau",
              "Guyana",
              "Haiti",
              "Heard Island and Mcdonald Islands",
              "Holy See (Vatican City State)",
              "Honduras",
              "Hong Kong",
              "Hungary",
              "Iceland",
              "India",
              "Indonesia",
              "Iran, Islamic Republic of",
              "Iraq",
              "Ireland",
              "Israel",
              "Italy",
              "Jamaica",
              "Japan",
              "Jordan",
              "Kazakhstan",
              "Kenya",
              "Kiribati",
              "Korea, Democratic People's Republic of",
              "Korea, Republic of",
              "Kuwait",
              "Kyrgyzstan",
              "Lao People's Democratic Republic",
              "Latvia",
              "Lebanon",
              "Lesotho",
              "Liberia",
              "Libyan Arab Jamahiriya",
              "Liechtenstein",
              "Lithuania",
              "Luxembourg",
              "Macao",
              "Macedonia, The Former Yugoslav Republic of",
              "Madagascar",
              "Malawi",
              "Malaysia",
              "Maldives",
              "Mali",
              "Malta",
              "Marshall Islands",
              "Martinique",
              "Mauritania",
              "Mauritius",
              "Mayotte",
              "Mexico",
              "Micronesia, Federated States of",
              "Moldova, Republic of",
              "Monaco",
              "Mongolia",
              "Montserrat",
              "Morocco",
              "Mozambique",
              "Myanmar",
              "Namibia",
              "Nauru",
              "Nepal",
              "Netherlands",
              "Netherlands Antilles",
              "New Caledonia",
              "New Zealand",
              "Nicaragua",
              "Niger",
              "Nigeria",
              "Niue",
              "Norfolk Island",
              "Northern Mariana Islands",
              "Norway",
              "Oman",
              "Pakistan",
              "Palau",
              "Palestinian Territory, Occupied",
              "Panama",
              "Papua New Guinea",
              "Paraguay",
              "Peru",
              "Philippines",
              "Pitcairn",
              "Poland",
              "Portugal",
              "Puerto Rico",
              "Qatar",
              "Reunion",
              "Romania",
              "Russian Federation",
              "Rwanda",
              "Saint Helena",
              "Saint Kitts and Nevis",
              "Saint Lucia",
              "Saint Pierre and Miquelon",
              "Saint Vincent and The Grenadines",
              "Samoa",
              "San Marino",
              "Sao Tome and Principe",
              "Saudi Arabia",
              "Senegal",
              "Serbia and Montenegro",
              "Seychelles",
              "Sierra Leone",
              "Singapore",
              "Slovakia",
              "Slovenia",
              "Solomon Islands",
              "Somalia",
              "South Africa",
              "South Georgia and The South Sandwich Islands",
              "Spain",
              "Sri Lanka",
              "Sudan",
              "Suriname",
              "Svalbard and Jan Mayen",
              "Swaziland",
              "Sweden",
              "Switzerland",
              "Syrian Arab Republic",
              "Taiwan, Province of China",
              "Tajikistan",
              "Tanzania, United Republic of",
              "Thailand",
              "Timor-leste",
              "Togo",
              "Tokelau",
              "Tonga",
              "Trinidad and Tobago",
              "Tunisia",
              "Turkey",
              "Turkmenistan",
              "Turks and Caicos Islands",
              "Tuvalu",
              "Uganda",
              "Ukraine",
              "United Arab Emirates",
              "United Kingdom",
              "United States",
              "United States Minor Outlying Islands",
              "Uruguay",
              "Uzbekistan",
              "Vanuatu",
              "Venezuela",
              "Viet Nam",
              "Virgin Islands, British",
              "Virgin Islands, U.S.",
              "Wallis and Futuna",
              "Western Sahara",
              "Yemen",
              "Zambia",
              "Zimbabwe"
              ]),{},{:style => "width:250px;font-size:medium"} %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td style="font-size:13px">
            <label for="type"></label>
            <label class="radio inline">
              <%= radio_button_tag :type, 'Candidate', :id => "rb_candidate" %>Candidate
            </label>
          </td>
          <td style="font-size:13px">
            <label class="radio inline">
              <%= radio_button_tag :type, 'Consultant', :id => "rb_consultant" %>Consultant
            </label>
            <label class="radio inline">
              <%= radio_button_tag :type, 'Manager', :id => "rb_manager" %>Manager
            </label>
            </td>
            <td width="" style="text-align:right;">
              <label for="validation_all" id="errormessage4" visible="false" style="color:red;"></label>
            </td>
        </tr>
        <tr>
          <td>
            <br/>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
          </td>
        </tr>


      </table>
<% end %>
    </div>
<script type="text/javascript">
  $("#signup").submit(function ( event ) {
    //alert("Hassan");
    var email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var hasError = false;
    var inp_email = $("#tf_email").val();
    if(!email.test(inp_email))
    {
      var message = $("#errormessage1").html("Enter your email address");
      message.show();
      hasError = true;
      //return false; 
    }
    else
    {
      hasError = false;
      $("#errormessage1").empty().hide();
    }
    return ! hasError;
  });
</script>
<script type="text/javascript">
  $("#signup").submit(function ( event ) {
  
    var hasError1 = false;
    var inp_pw = $("#tf_password").val();
    if (inp_pw == 0)
    {
      var message = $("#errormessage2").html("Enter Password");
      message.show();
      hasError1 = true; 
    }
    else if(inp_pw.length < 6)
    { 
      var message = $("#errormessage2").html("Password must be greater then 5 characters");
      message.show();
      hasError1 = true; 
    }
    else
    {
      hasError1 = false;
      $("#errormessage2").empty().hide();
    }
    return ! hasError1;
  });
</script>
<script type="text/javascript">
  $("#signup").submit(function ( event ) {
  
    var hasError2 = false;
    var inp_pw = $("#tf_password").val();
    var inp_confirm_pw = $("#tf_confirm_password").val();
    if (inp_pw != inp_confirm_pw)
    {
      var message = $("#errormessage3").html("Password do not match");
      message.show();
      hasError2 = true; 
    }
    else
    {
      hasError2 = false;
      $("#errormessage3").empty().hide();
    }
    return ! hasError2;
  });
</script>