<style type="text/css">
body{
background-color:#C3CEEE;
}
</style>
<div id="nave">
   <ul id="menu">
    <li class="sub">
      <a href="<%= recruiterviewresumes_path %>">View Video Resume</a>
    </li>
    <li class="sub">
      <a href="<%= templates_path %>">Openings</a>
        </li>
    <li class="sub">
      <a href="/recruiterdecisions">Decision</a>
    </li>
  </ul>
</div>
<div id="openingmngrdec">
	<table class="table" width="100%">
		<th><font size="+1">Decision</font></th>
      <% @selection_candidate.each_with_index do |s,i| %>
        <% @candidate_details = User.where( :id => s.CandidateID ) %>
          <% @opening_details = Opening.where( :id => s.OpeningsID ) %>
            <% @candidate_details.each do |can_details| %>
        			<tr height="40px">
				        <td style='border-width:0px; font-size:small;color:#06C; vertical-align:middle; margin-left:40px;'>
                  <a href="#<%= "#{i.to_s}" %>" role="button"  data-toggle="modal">
                    <%= can_details.first_name + " " + can_details.last_name %>
                  </a>
				        </td>
			        </tr>
              <tr>
                <td>
                <% @opening_details.each do |open_details| %>
                  <div id="<%= "#{i.to_s}" %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 id="myModalLabel">Candidate</h4>
            </div>
            <div class="modal-body">
              <div style='padding: 20px;'>
                <table border="0">
                  <tr>
                    <td  style='border-width:0px;'>Name: </td>
                    <td style='border-width:0px;'>
                      <%= can_details.first_name + " " + can_details.last_name %>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>Email: </td>
                    <td style='border-width:0px;'>
                      <%= can_details.email %>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>Phone: </td>
                    <td style='border-width:0px;'>
                      <%= can_details.phone %>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>Address: </td>
                    <td style='border-width:0px;'>
                      <%= can_details.address %>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>Applied for: </td>
                    <td style='border-width:0px;'>
                      <%= open_details.OpeningTitle %>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;' >Consultant: </td>
                    <td style='border-width:0px;'>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>
                      <table border="0">
                        <tr>
                          <td style='border-width:0px;'>Technical Skills: </td>
                          <td style='border-width:0px;'>Presentation Skills</td>
                          <td style='border-width:0px;'>Management Skills</td>
                        </tr>
                        <tr>
                          <td style='border-width:0px;'></td>
                          <td style='border-width:0px;'></td>
                          <td style='border-width:0px;'></td>
                        </tr>
                        <tr>
                          <td style='border-width:0px;'><%= s.Con_Tech_Skills %></td>
                          <td style='border-width:0px;'><%= s.Con_Pre_Skills %></td>
                          <td style='border-width:0px;'><%= s.Con_Mng_Skills %></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>Manager: </td>
                    <td style='border-width:0px;'></td>
                  </tr>
                  <tr>
                    <td style='border-width:0px;'>
                      <table border="0">
                        <tr>
                          <td style='border-width:0px;'>Technical Skills: </td>
                          <td style='border-width:0px;'>Presentation Skills</td>
                          <td style='border-width:0px;'>Management Skills</td>
                        </tr>
                        <tr>
                          <td style='border-width:0px;'></td>
                          <td style='border-width:0px;'></td>
                          <td style='border-width:0px;'></td>
                        </tr>
                        <tr>
                          <td style='border-width:0px;'><%= s.Mngr_Tech_Skills %></td>
                          <td style='border-width:0px;'><%= s.Mngr_Pre_Skills %></td>
                          <td style='border-width:0px;'><%= s.Mngr_Mng_Skills %></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            <hr>
          </div>  
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
        </td>
      </tr>
              <% end %>
            <% end %>
          <% end %>
			  </table>
 </div>