<!DOCTYPE html>
<html>
<head>
	<title>VideoResume</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag "main.css" %>
	<%= stylesheet_link_tag"nivo.css" %>
	<%= stylesheet_link_tag"skin.css" %>
	<%= stylesheet_link_tag "styles.css" %>
	<%= javascript_include_tag 'cufon-yui' %>
	<%= javascript_include_tag 'font.font' %>

	<%= javascript_include_tag 'jquery-ui.min' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.nivo' %>
	<%= javascript_include_tag 'ModalPopups' %>
	<%= javascript_include_tag 'playit' %>
	<%= javascript_include_tag 'pngfix' %>
	<%= javascript_include_tag 'script' %>
	<%= javascript_include_tag 'simpletreemenu' %>
	<%= javascript_include_tag 'stu_hover' %>
	<%= javascript_include_tag 'swfobject' %>
	<%= stylesheet_link_tag "ui.dynatree" %>

	<%= javascript_include_tag "jquery.dynatree" %>
	    
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
